# Importing the required libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib
matplotlib.rcParams['figure.figsize'] = (20, 10)

# Loading the datasets

In [2]:
df = pd.read_csv("99aana.csv")
df.head()

,title,price,area,location,district,floor,room,bedroom,bathroom,livingroom,kitchen,parking,link
0,"House for Sale at Sitapaila, Kathmandu","25,000,000",sq m0-5-0-0,"Sitapaila, Kathmandu",Kathmandu,3,12,NaN,3,NaN,NaN,1.0,https://99aana.com/property/house-for-sale-at-...
1,"House for sale at Lubhu, Lalitpur","14,500,000",sq m0-3-0-0,"Lubhu, Lalitpur",Lalitpur,2.5,7,4,3,NaN,2,1.0,https://99aana.com/property/house-for-sale-at-...
2,"House for sale at Gothatar, Kathmandu","24,400,000",sq m0-4-0-0,"Gothatar, Kathmandu",Kathmandu,2.5,NaN,NaN,NaN,NaN,NaN,1.0,https://99aana.com/property/house-for-sale-at-...
3,"House for sale at TiKathali, Lalitpur","12,500,000",sq m0-3-0-0,"TiKathali, Lalitpur",Lalitpur,1.5,NaN,NaN,NaN,NaN,NaN,1.0,https://99aana.com/property/house-for-sale-at-...
4,"House for Sale at Kadaghari, Kathmandu","13,100,000",sq m0-3-0-0,"Kadaghari, Kathmandu",Kathmandu,2.5,NaN,NaN,NaN,NaN,NaN,1.0,https://99aana.com/property/house-for-sale-at-...

In [3]:
df.shape

(2063, 13)

# Data cleaning

In [9]:
# Controls the max num. of rows displayed when printring a dataframe
pd.set_option('display.max_rows', None)

# Train test split

# Training and predicting

# Evaluation